<section class="explore-hero">
  <div class="hero-overlay">
    <%= render partial: 'shared/header_secondary' %>
    <div class="hero-content">
      <h1 class="explore-hero-heading"><%= @shop.name.capitalize %></h1>
    </div>
  </div>
</section>
<section class="explore-page">
  <!-- <div class="search">
    <div class="container">
      <%= form_tag products_path, :class => "form-search", :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', id: 'product-search', autocomplete: 'off', placeholder: "Search by shop, brand or type of item" %>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-search" value="Search"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <% end %>
    </div>
  </div> -->
  <div class="container">
    <div class="col-lg-2">
      <%= render partial: 'home/sidebar' %>
    </div>
    <div class="col-lg-10">
    <h3 class="explore-heading">Trending products</h3>
    <div class="row">
    <% @products.limit(3).each do |product| %>
      <div class="product-container col-sm-4">
        <%= render partial: 'products/product', locals: { product: product } %>
      </div>
    <% end %>
    </div>
    <h3 class="explore-heading">Recommended items</h3>
    <div class="row">
      <div id="products-list">
          <% @products.each do |product| %>
          <div class="product-container col-sm-6 col-md-20 animated fadeIn">
            <%= render partial: 'products/product', locals: { product: product } %>
          </div>
          <% end %>
        <div id="placeholder">
        </div>
      </div>
    </div>
    <%= link_to "Load more", "#placeholder", :id => 'next' %>

    </div>

  </div>
  <div style="display:none">
  <%= paginate @products %>
  </div>

</section>
