<div class="container">
  <h3>Account Settings</h3>

<h4>Update your profile photo</h4>
<%= form_tag({:action => :upload_avatar}, multipart: true) do %>
    <div class="input-group">
      <%= file_field_tag :avatar, class: 'form-control' %>
      <%= submit_tag "Upload photo", class: 'btn btn-purchase'%>
    </div>
  <% end %>
  <% if current_user.authentications.find_by(provider: "facebook") %>
  <p>or</p>
  <%= link_to "Set to default facebook photo", set_default_facebook_photo_path, method: :post %>
  <% end %>
  <h4>Your personal information</h4>
  <%= form_for @user do |f| %>
<div class="input-group">
<%= f.email_field :email, class: 'form-control' %>
</div>
<div class="input-group">
<%= f.text_field :username, class: 'form-control' %>
</div>
<div class="input-group">
<%= f.password_field :password, class: 'form-control' %>
</div>
<div class="input-group">
<%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
<%= f.submit "Update my account", class: 'btn btn-purchase' %>

<% end %>
</div>
