<section class="profile-page">
  <div class="user-header">
    <div class="container">
    <%= image_tag @user.try(:avatar).url(:medium), class: 'profile-image' %>
    <div class="user-details">
      <h4><%= @user.try(:username) %></h4>
    </div>
    <div class="user-actions">
      <%= form_tag({:action => :upload_avatar}, multipart: true) do %>
        <div class="input-group">
          <%= file_field_tag :avatar, class: 'form-control' %>
          <%= submit_tag "Go" %>
        </div>
      <% end %>
      <%= link_to "Edit", "#", {:class => 'btn-settings', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#settings-modal'} %>
    </div>
    <ul class="profile-links">
      <li class="active"><%= link_to "Recent Activity", "#" %></li>
      <li><%= link_to "Boxes", "#" %></li>
    </ul>
    </div>
  </div>
  <div class="favourites">
    <div class="container">
    <h3>Recently Liked</h3>
    <% @user.upvotes.each do |upvote| %>
      <%= image_tag upvote.upvotable.image %>
      <%= upvote.upvotable.title %>
    <% end %>
    </div>
  </div>
</section>

<%= render partial: 'shared/settings_modal' %>
