<header class="header-secondary">
  <div class="container">
  <div class="row">
    <div class="navbar-header">
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <i class="fa fa-bars fa-lg"></i>
    </button>
    <%= link_to "CrossLabel", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Explore", explore_path %></li>
        <li><%= link_to "Shops", retailers_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li>
        <%= link_to user_path(current_user.username) do %>
        <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24"><g> <path fill="#d94052" d="M17,0c-1.9,0-3.7,0.8-5,2.1C10.7,0.8,8.9,0,7,0C3.1,0,0,3.1,0,7c0,6.4,10.9,15.4,11.4,15.8 c0.2,0.2,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2C13.1,22.4,24,13.4,24,7C24,3.1,20.9,0,17,0z"></path> </g></svg>
        <span class="header-likes-count"><%= current_user.likes.count %></span>
        <% end %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag current_user.try(:avatar), class: "header-profile-image" %></a>
            <ul class="dropdown-menu" role="menu">
              <svg class="nc-icon glyph arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"> <path fill="#fff" d="M12.8,5.4c-0.4-0.5-1.2-0.5-1.6,0l-9,12c-0.2,0.3-0.3,0.7-0.1,1C2.3,18.8,2.6,19,3,19h18 c0.4,0,0.7-0.2,0.9-0.6c0.2-0.3,0.1-0.7-0.1-1L12.8,5.4z"></path> </svg>
              <li><%= link_to user_path(current_user.username) do %><svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24"> <g transform="translate(0, 0)"> <path data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,16L12,16 c-2.2,0-4-1.8-4-4v-2c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v2C16,14.2,14.2,16,12,16z" stroke-linejoin="miter"></path> <path data-color="color-2" data-cap="butt" fill="none" stroke="#888888" stroke-width="2" stroke-miterlimit="10" d="M18.1,21.1C17,19.8,15.3,19,13.5,19 h-3c-1.8,0-3.5,0.8-4.6,2.1" stroke-linejoin="miter" stroke-linecap="butt"></path> <circle fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="12" cy="12" r="11" stroke-linejoin="miter"></circle> </g></svg> Profile<% end %></li>
              <li><%= link_to edit_user_path(current_user.username) do %><svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24"><g transform="translate(0, 0)"> <rect x="1" y="1" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="22" height="22" stroke-linejoin="miter"></rect> <line data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="15" y1="8" x2="20" y2="8" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="4" y1="8" x2="6" y2="8" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="9" y1="16" x2="4" y2="16" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="20" y1="16" x2="18" y2="16" stroke-linejoin="miter"></line> <circle data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="9" cy="8" r="3" stroke-linejoin="miter"></circle> <circle data-color="color-2" fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="15" cy="16" r="3" stroke-linejoin="miter"></circle> </g></svg> Settings<% end %></li>
              <li><%= link_to destroy_user_session_path, :method => :delete do %><svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24"> <g transform="translate(0, 0)"> <polyline data-cap="butt" fill="none" stroke="#888888" stroke-width="2" stroke-miterlimit="10" points="13,12 13,16 8,16 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> <polyline data-cap="butt" fill="none" stroke="#888888" stroke-width="2" stroke-miterlimit="10" points="1,1 8,6 8,21 1,16 1,1 13,1 13,9 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> <line data-cap="butt" fill="none" stroke="#888888" stroke-width="2" stroke-miterlimit="10" x1="11" y1="9" x2="22" y2="9" stroke-linejoin="miter" stroke-linecap="butt"></line> <polyline fill="none" stroke="#888888" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="18,5 22,9 18,13 " stroke-linejoin="miter"></polyline> </g> </svg> Sign out<% end %></li>
            </ul>
        </li>
      </ul>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Log in", new_user_session_path, :class => "btn-header" %></li>
      <% end %>
      </ul>
    </div>
  </div>
  </div>
</header>
