<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h1>Welcome back to CrossLabel</h1>
  <p>Don't have an account yet? <%= link_to "Sign up", new_user_registration_path, id: 'signup-link' %><br /></p>

    <%- if devise_mapping.omniauthable? %>
      <%- Devise.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn-facebook-login' do %>
        <%= "Log in with #{provider.to_s.titleize}" %>
      <% end %>
      <% end -%>
    <% end -%>


    <div class="separator">
        <span class="divider">or</span>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: 'Your email', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Your password', autocomplete: "off", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log me in!", class: 'btn-login' %>
    </div>

    <div class="form-links">
    <%= link_to "Forgot your password?", new_user_password_path %>
    </div>
  <% end %>
