<%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
<h3>Explore CrossLabel</h3>
<p>We help you discover great products you'll love and</p>
  <%= devise_error_messages! %>

  <%- if devise_mapping.omniauthable? %>
    <%- Devise.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn-facebook-login' do %>
      <%= "Sign up with #{provider.to_s.titleize}" %>
    <% end %>
    <% end -%>
  <% end -%>

  <div class="separator">
    <span>or</span>
  </div>

  <div class="input-group">
    <%= f.email_field :email, autofocus: true, placeholder: 'e.g. example@example.com', class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.text_field :username, placeholder: 'Choose a username', class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.password_field :password, placeholder: 'Your password', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm your password', autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.submit "Sign me up!", class: 'btn-signup' %>
  </div>

  <div class="login-links">
    <p>Already have an account? <%= link_to "Login", login_path, id: 'login-form-link' %></p>
  </div>
<% end %>
