<section class="explore-page">
  <!-- <div class="search">
    <div class="container">
      <%= form_tag products_path, :class => "form-search", :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', id: 'product-search', autocomplete: 'off', placeholder: "Search by retailer, brand or type of item" %>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-search" value="Search"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <% end %>
    </div>
  </div> -->
  <div class="container">
      <%= render partial: 'shared/filter' %>
      <div class="row" style="padding-bottom:20px;">
        <div class="col-lg-2">
        <%= image_tag "http://www.a-land.co.kr/retailer/data/skin/apple_tree/img/common/logo_A_bubble.gif", width: "160px", height: "133px" %>
        </div>
        <div class="col-lg-10">
          <h3 class="explore-heading"><%= @retailer.name %></h3>
        </div>
      </div>
    <h3 class="explore-heading">Recommended items</h3>
    <div class="row">
      <div id="products-list">
          <% @products.each do |product| %>
          <div class="product-container col-sm-6 col-md-20 animated fadeIn">
            <%= render partial: 'products/product_w2', locals: { product: product } %>
          </div>
          <% end %>
        <div id="placeholder">
        </div>
      </div>
    </div>
    <%= link_to "Load more", "#placeholder", :id => 'next' %>

    </div>

  </div>
  <div style="display:none">
  <%= paginate @products %>
  </div>

</section>
