<section id="product-home">
<div class="container">

<div class="products-list row">
  <div id="categories">
  <%= link_to "Trending" %>
  <%= link_to "New" %>
  <%= link_to "Following" %>
</div>
<% @products.each do |product| %>
  <div class="product col-sm-6 col-md-4 col-lg-3">
    <%= link_to product.link do %>
    <%= image_tag product.image, class: 'product-image' %>
    <% end %>
    <h5><%= product.title %> in <%= link_to product.categories.first.try(:title) %></h5>
    <span><%= link_to product_vote_path(product), :method => :post do %>
      <i class="fa fa-thumbs-o-up"></i>
    <% end %></span>
    <% product.upvotes.each do |upvote| %>
      <span><%= image_tag upvote.user.profile.profile_image, :class => "product-profile-image"%></span>
    <% end %>
  </div>
<% end %>
</div>
<div class="container">
</section>
