<% if current_user %>
<!-- Modal -->
<% content_for :title do %> Explore <% end %>
<!-- Modal -->
<section class="home">
  <div class="trending">
    <div class="container">
      <div class="row">

      <h4>Trending</h4>
        <% Product.all.limit(3).each do |product| %>
          <div class="col-md-4 animated fadeIn">
            <%= render partial: 'products/product', locals: { product: product } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tiny-list">
    <div class="container">
        <div class="row">
        <h4>Featured shop - A-Land</h4>
        <h6>Korea</h6>
        </div>
        <div class="row">
        <% @tiny.each do |product| %>
        <div class="tiny-item col-md-1 animated fadeIn">
          <%= render partial: 'products/tiny', locals: { product: product } %>
        </div>
        <% end %>
        </div>
        <br/>
        <%= link_to "Visit A-Land", shop_path(1), :class => "btn" %>
    </div>
  </div>

  <div class="product-list">
    <div class="container">
      <div class="recommended-items row">
      <h4>Recommended</h4>
      <% @products.each do |product| %>
      <div class="product-container col-sm-6 col-md-3 animated fadeIn">
        <%= render partial: 'products/product', locals: { product: product } %>
      </div>
      <% end %>
    </div>
    <%= link_to "Explore", explore_path, :class => "btn" %>
  </div>
</section>

<% else %>

<section id="hero">
  <div class="hero-overlay">
  <%= render partial: 'shared/header_secondary' %>
  <div class="hero-content">
  <h1>Beyond the boundaries</h1>
  <h4>Discover and shop thousands of products from around the world.</h4>
  <%= link_to "Start exploring", explore_path, :class => 'cta' %>
  </div>
  </div>
</section>
<section id="home-trending-cities">
    <div class="section-intro">
      <h3 class="primary-heading">Shop from</h3>
      <h5 class="secondary-heading">Which cities are most popular.</h5>
    </div>
    <div class="cities">
      <div class="container">
      <div class="row">
        <a href="#" class="cities-item col-sm-6 col-md-3 animated fadeIn">
          <div class="city" style="background:url('https://d13yacurqjgara.cloudfront.net/users/120724/screenshots/1444317/wall_street_thumb_1x.png');background-size:cover;">
            <div class="city-overlay"><span class="city-heading">New York</span></div>

          </div>
        </a>
        <a href="#" class="cities-item col-sm-6 col-md-3 animated fadeIn">
          <div class="city" style="background:url('https://d13yacurqjgara.cloudfront.net/users/24177/screenshots/1019646/osaka_1x.png');background-size:cover;">
            <div class="city-overlay"><span class="city-heading">Tokyo</span></div>

          </div>
        </a>
        <a href="#" class="cities-item col-sm-6 col-md-3 animated fadeIn">
          <div class="city" style="background:url('https://d13yacurqjgara.cloudfront.net/users/396000/screenshots/1546266/bigben_dribbble-01_1x.png');background-size:cover;">
            <div class="city-overlay"><span class="city-heading">London</span></div>
          </div>
        </a>
        <a href="#" class="cities-item col-sm-6 col-md-3 animated fadeIn">
          <div class="city" style="background:url('https://d13yacurqjgara.cloudfront.net/users/36598/screenshots/1577412/sans_titre_-_2-01.jpg');background-size:cover;">
            <div class="city-overlay"><span class="city-heading">Montreal</span></div>
          </div>
        </a>
      </div>
      </div>
    </div>
</section>
<section id="home-trending-products">
  <div class="section-intro">
    <h3>Trending products</h3>
    <h5 class="secondary-heading">Some items currently trending around the world.</h5>
  </div>
  <div class="trending">
    <div class="container">
    <div class="row">
      <% Product.all.limit(5).each do |product| %>
      <div class="product-container col-sm-6 col-md-20 animated fadeIn">
        <%= render partial: 'products/product', locals: {product: product} %>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</section>
<% end %>
