<section id="hero">
  <span class="callout">Discover and collect the best brands from around the world</span>
</section>
<section id="product-home">
<div class="container">

<div class="products-list row">
  <div id="categories">
  <%= link_to "Explore" %>
  <%= link_to "Trending" %>
  <%= link_to "Recommended" %>
</div>
<% @products.each do |product| %>
  <div class="product col-sm-6 col-md-4 col-lg-3">
    <%= link_to product.link do %>
    <%= image_tag product.image, class: 'product-image' %>
    <% end %>
    <h5><%= product.title %> in <%= link_to product.categories.first.try(:title) %></h5>
    <div class="social">
      <span><%= product.upvotes.count %></span>
      <span id="product-<%= product.id %>">
        <% if product.upvotes.map(&:user_id).include?(current_user.id) %>
          <%= render :partial => "products/downvote", locals: { product: product }%>
        <% else %>
          <%= render :partial => "products/upvote", locals: { product: product }%>
        <% end %>
      </span>
    <% product.upvotes.each do |upvote| %>
      <%= image_tag upvote.user.profile.profile_image, :class => "product-profile-image"%>
    <% end %>
    </div>
  </div>
<% end %>
</div>
</section>
