<div class="password-page">
  <div class="container">
    <%= link_to "Go back", root_path, class: 'btn-back' %>

      <div class="form-wrapper-page">
        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, placeholder: "Enter your email", class: 'form-control', autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'btn-reset' %>
          </div>
        <% end %>
        <div class="form-links">
          <span>Don't have an account? <%= link_to "Sign up", new_user_registration_path, id: 'signup-link' %></span><br/>
          <span>Already have an account? <%= link_to "Login", new_user_session_path, id: 'login-form-link' %></span>
        </div>
      </div>
</div>
