<% breadcrumb @category %>
<% content_for :title do %><%= @category.name.capitalize %><% end %>
<section class="explore-hero">
  <div class="hero">
    <div class="hero-content">
      <h3 class="explore-hero-heading"><%= @category.name.capitalize %></h3>
    </div>
  </div>
</section>
<section class="explore-page">
  <!-- <div class="search">
    <div class="container">
      <%= form_tag products_path, :class => "form-search", :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', id: 'product-search', autocomplete: 'off', placeholder: "Search by shop, brand or type of item" %>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-search" value="Search"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <% end %>
    </div>
  </div> -->
  <div class="container">

    <%= render partial: 'shared/filter' %>
    <%= breadcrumbs separator: " &rsaquo; " %>
    <div class="row">
      <h3 class="explore-heading">Trending <%= @category.name.capitalize %></h3>

    <% @products.limit(4).each do |product| %>
      <div class="product-container col-sm-3">
        <%= render partial: 'products/product_w2', locals: { product: product } %>
      </div>
    <% end %>
    </div>
    <div class="row">
      <h3 class="explore-heading">Recommended items</h3>
      <div class="products-list">
          <% @products.each do |product| %>
          <div class="product-container col-sm-6 col-md-20 animated fadeIn">
            <%= render partial: 'products/product', locals: { product: product } %>
          </div>
          <% end %>
        <div id="placeholder">
        </div>
      </div>
    </div>
    <%= link_to "Load more", "#placeholder", :id => 'next' %>

    </div>
  </div>
  <div style="display:none">
  <%= paginate @products %>
  </div>

</section>
