  <div class="product-container col-sm-6 col-md-3 animated fadeIn">
      <div class="product">
        <div class="product-image-container">
          <%= image_tag product.image, class: 'product-image' %>
          <!-- 'data-toggle': 'modal', 'data-target': '#product-modal', :remote => true -->
          <%= link_to product_path(product), :class => 'product-overlay' do %>
          <div class="card-hover">
          </div>
          <% end %>
          <div class="social">
            <span id="product-<%= product.id %>" class="vote">
              <% if product.liked_by.include?(current_user) %>
                <%= render :partial => "products/downvote", locals: { product: product }%>
              <% else %>
              <%= render :partial => "products/upvote", locals: { product: product } %>
              <% end %>
            </span>
          </div>
          <div class="liked-users" id="liked-users-<%=product.id %>">

          <% product.liked_by.limit(5).each do |user| %>
            <%= link_to user_path(user.try(:username)) do %>
              <%= image_tag user.try(:avatar).url(:thumb), class: 'liked-user-image' %>
            <% end %>
          <% end %>
        </div>

        </div>
        <div class="product-details">
          <h5 class="product-heading"><%= truncate(product.title, length: 25) %></h5>
          <span class="retailer">from <%= link_to product.shop.name, shop_path(product.shop) %></span>
        </div>
      </div>
    </div>
