<div class="product">
  <div class="product-image-container">
    <%= image_tag product.try(:product_variations).first.try(:product_images).first.try(:filepath), class: 'product-image' %>
    <%= link_to retailer_product_path(product.retailer.name, product), :class => 'product-overlay' do %>
      <div class="card-hover">
      </div>
    <% end %>
    <div class="product-meta">
      <span class="product-country-heading product-meta-item" style="color:#fff;"><svg class="product-country-icon nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24"> <g transform="translate(0, 0)"> <path fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20,9c0,4.9-8,13-8,13 S4,13.9,4,9c0-5.1,4.1-8,8-8S20,3.9,20,9z" stroke-linejoin="miter"></path> <circle data-color="color-2" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="12" cy="9" r="3" stroke-linejoin="miter"></circle> </g> </svg>United States</span>
    </div>
    <div class="social">
      <span id="product-<%= product.id %>" class="vote">
        <% if product.liked_by.include?(current_user) %>
          <%= render :partial => "products/downvote", locals: { product: product }%>
        <% else %>
        <%= render :partial => "products/upvote", locals: { product: product } %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="product-details">
      <h5 class="product-heading"><%= truncate(product.title, length: 30) %></h5>
      <span class="product-retailer-heading"><%= link_to product.try(:retailer).name, retailer_path(product.retailer.name) %></span>
      <span class="product-price"><%= number_to_currency(product.original_price) %></span>


  </div>
</div>
