<div class="product">
  <div class="product-image-container">
    <%= image_tag product.try(:product_variations).first.try(:product_images).first.try(:filepath), class: 'product-image' %>
    <%= link_to product_path(product), :class => 'product-overlay' do %>
    <div class="card-hover">
    </div>
    <% end %>
    <div class="liked-users" id="liked-users-<%=product.id %>">
      <% product.liked_by.limit(5).each do |user| %>
        <%= link_to user_path(user.try(:username)) do %>
          <%= image_tag user.try(:avatar).url(:thumb), class: 'liked-user-image' %>
        <% end %>
      <% end %>
    </div>
    <div class="social">
      <span id="product-<%= product.id %>" class="vote">
        <% if product.liked_by.include?(current_user) %>
          <%= render :partial => "products/downvote", locals: { product: product }%>
        <% else %>
        <%= render :partial => "products/upvote", locals: { product: product } %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="product-details">
      <h5 class="product-heading"><%= truncate(product.title, length: 30) %></h5>
      <span class="product-retailer-heading" style="display:block;"><%= link_to product.try(:retailer).name, retailer_path(product.retailer) %></span>
      <div class="product-meta">
        <svg class="product-country-icon nc-icon outline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 24 24"> <g transform="translate(0, 0)"> <path fill="none" stroke="#656565" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20,9c0,4.9-8,13-8,13 S4,13.9,4,9c0-5.1,4.1-8,8-8S20,3.9,20,9z" stroke-linejoin="miter"></path> <circle data-color="color-2" fill="none" stroke="#656565" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="12" cy="9" r="3" stroke-linejoin="miter"></circle> </g> </svg>
        <span class="product-country-heading">US</span>
        <span class="product-price" style="float:right;"><%= number_to_currency(product.original_price) %></<span>
      </div>
  </div>
</div>
