<div id="product-detail-page">
<% content_for :title do %><%= @product.title %><% end %>
<div class="product-detail-container">
  <div class="container">
    <div class="row">
      <div class="product-modal-image col-lg-4 col-lg-offset-1">
        <%= image_tag @product.image %>
      </div>
      <div class="product-info col-lg-6">
        <h3 class="product-heading"><%= @product.title %></h3>
        <h5 class="shop-heading">from <%= link_to @product.shop.name, @product.shop %></h5>
        <div class="product-actions-container">
          <span class="liked_by_count"><%= @product.liked_by_count %></span>
          <span id="product-<%= @product.id %>" class="vote">
            <% if @product.liked_by.include?(current_user) %>
              <%= render :partial => "products/downvote", locals: { product: @product }%>
            <% else %>
              <%= render :partial => "products/upvote", locals: { product: @product } %>
            <% end %>
          </span>
          <% @product.liked_by.limit(12).each do |user| %>
            <%= image_tag user.avatar, class: 'product-modal-profile-image' %>
          <% end %>
        </div>
        <div class="goto-shop-container">
        <%= link_to "$#{@product.unit_price} on #{@product.shop.name}", @product.link, class: 'btn btn-purchase' %>
        </div>
        <div class="product-description">
          <h4>Item Description</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</p>
        </div>
        <div id="product-social">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
