<div class="product-modal">
<div class="row">
    <div class="product-modal-image col-lg-6">
      <%= image_tag product.image %>
    </div>
  <div class="product-modal-description col-lg-6">
  <h3><%= product.title %></h3>
  <h5>from <%= link_to product.shop.name, product.shop %></h5>
  <%= link_to "Get it", product.link, class: 'btn btn-purchase' %>

  <h4 style="padding-top: 1em;">Item Description</h4>
  <p>$<%= product.unit_price %></p>
  <table class="table table-striped">
    <thead>
      <tr>
    <th>Size</th>
    <th>Length</th>
    <th>Width</th>
    <th>Sleeve length</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>
  <div id="upvotes">
  <% product.liked_by.limit(10).each do |user| %>
    <%= image_tag user.avatar, class: 'product-modal-profile-image' %>
  <% end %>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

  <h3>Related items</h3>
</div>

</div>
</div>
