<% breadcrumb @product %>

<% content_for :title do %><%= @product.title %><% end %>
<div class="product-detail-page">
  <div class="container">
    <div class="row">
    <%= breadcrumbs separator: " &rsaquo; " %>
      <div class="product-variations col-lg-2">
          <% @product.product_variations.each do |variation| %>
            <% variation.product_images.limit(5).each do |image| %>
            <a href="#"><%= image_tag "#{image.filepath}", width: "60px", height: "80px", :class => "product-variation-image" %></a>
            <% end %>
          <% end %>
      </div>
      <div class="main-image-container col-lg-4">
        <%= image_tag @product.try(:product_variations).first.try(:product_images).first.try(:filepath), class: 'main-product-image' %>
      </div>
      <div class="product-info col-lg-6">
        <h3 class="product-detail-heading"><%= @product.title %></h3>
        <h5 class="shop-heading">from <%= link_to @product.retailer.name, @product.retailer %></h5>
        <div class="price" style="font-size:1.5em;">$<%= @product.original_price %></div>
          <%= link_to "Buy from #{@product.retailer.name}", @product.homepage_product_link, :class => "btn-purchase" %>
          <div class="product-description">
            <h4>Item Description</h4>
            <p><%= @product.description.html_safe %></p>
          </div>
        </div>
    </div>
  </div>

    <div class="similar-items">
      <div class="container">
        <div class="row">
          <h3 style="padding-left:15px;">Some other items you might like</h3>
          <% @product.similar_items.each do |similar_item| %>
            <div class="col-lg-20">
              <%= render partial: "products/product", locals: { product: similar_item} %>
            </div>
          <% end %>
        </div>
      </div>

</div>
<script>
  $(document).ready(function() {
    $('.product-variation-image').on('click', function() {
      image_link = $(this).attr('src');
      $('.main-product-image').attr('src', image_link);
      $('.product-variations').children().children('img').removeClass('viewing');
      $(this).addClass('viewing');
    })
  });
</script>
