<% content_for :title do %><%= @product.title %><% end %>
<div class="product-detail-page">
  <div class="container" style="width: 75%;">
    <div class="row">
      <div class="product-show-image">
        <%= image_tag @product.try(:product_variations).first.try(:product_images).first.try(:filepath), class: 'product-image' %>
        <% @product.product_variations.each do |variation| %>
          <% variation.product_images.each do |product_image| %>
          <%= image_tag "#{product_image.filepath}", width: "80px", height: "120px" %>
          <% end %>
        <% end %>
      </div>
      <div class="product-info">
        <h3 class="product-heading"><%= @product.title %></h3>
        <h5 class="shop-heading">from <%= link_to @product.retailer.name, @product.retailer %></h5>
        <div class="product-actions-container">
          <div class="price" style="font-size:1.5em;">$<%= @product.original_price %></div>
          <%= link_to "Buy from #{@product.retailer.name}", @product.homepage_product_link, :class => "btn-purchase" %>
        </div>
        <div class="product-description">
          <h4>Item Description</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.</p>
        </div>
        <div id="product-social">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
