<!DOCTYPE html>
<html>
<head>
  <title>Brandly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<%= yield %>

<div class="cd-panel from-right">
	<div class="cd-panel-container">
    <a href="#0" class="cd-panel-close">Close</a>

		<div class="cd-panel-content">

			<!-- your side content here -->
		</div> <!-- cd-panel-content -->
	</div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

<%= render partial: 'layouts/footer' %>
</body>
<%= render partial: 'shared/login_modal' %>
<%= render partial: 'shared/signup_modal' %>
</html>
