<!DOCTYPE html>
<html>
<head>
  <title><% if content_for :title %> <%= yield(:title) %> - CrossLabel <% else %> Discover and shop fashion from aronund the world - CrossLabel<% end %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="robots" content="noindex, nofollow">
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<div class="wrapper">
<%= yield %>
</div>
<%= render partial: 'layouts/footer' %>
</body>
</html>
