<!DOCTYPE html>
<html>
<head>
  <title><% if content_for :title %> <%= yield(:title) %> - CrossLabel <% else %> Discover and shop fashion from aronund the world - CrossLabel<% end %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<%= yield %>
</div>
<%= render partial: 'layouts/footer' %>
<div class="modal animated fadeIn" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times fa-lg"></i></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>$(window).scroll(function() {
    if ($(this).scrollTop() > 350){
        $('header.header-secondary').addClass("sticky");
    }
    else{
        $('header.header-secondary').removeClass("sticky");
    }
});</script>
